/* General Body Style */
body {
  margin: 0;
  background-color: black;
  color: white;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Slider Wrapper */
.gallery-slider {
  position: relative;
  width: 80%;
  max-width: 800px;
}

/* Slides */
.slider {
  display: flex;
  position: relative;
  transition: opacity 1s ease-in-out;
}
/* Hide all slides by default */
.slide {
  opacity: 0;
  transition: opacity 1s ease-in-out;
  position: absolute; /* Position slides on top of each other */
  top: 0;
  left: 0;
  width: 100%;
  height: min-content;
}

.slide img {
  width: 100%;
  height:auto;
  display: block;
  border: 1px solid white;
}
.caption {
  text-align: center;
  font-size: 14px;
  margin: 60px 0;
}
/* Show the active slide */
.slide.active {
  opacity: 1;
  position: relative; /* Make the active slide visible */
}

/* Navigation Arrows */
.arrow {
  position: absolute;
  bottom: 55%;
  transform: translateY(-50%);
  background: none;
  border: none;
  color: white;
  font-size: 2rem;
  cursor: pointer;
  z-index: 10;
}
.arrow.left {
  left: 10px;
}
.arrow.right {
  right: 10px;
}
.arrow:hover {
  transform: translateY(-50%) scale(1.2);
}

/* Pagination Dots */
.pagination-dots {
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
}
.dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0.5;
}

.dot.active {
  opacity: 1;
}

@media screen and (max-width:300px) {
  .arrow {
    position: absolute;
    bottom: 60%;
    transform: translateY(-80%);
    background: none;
    border: none;
    color: white;
    font-size: 2rem;
    cursor: pointer;
    z-index: 10;
  }
}